.git
.github
.idea
.vscode
.codex
.cursor
.zed

.env
.env.*
!.env.example
!.env.docker.example

vendor
node_modules
public/build
public/hot
public/storage
storage/*.key
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php

*.log
.DS_Store
Thumbs.db
